#root {
    text-align: center;
}

.homeCarousel {
    margin: auto;
    height: 30rem;
    width: 64rem;
}
img {
    height: 400px;
    width: 100px;
}
.cart {
    height: 30px;
    width:30px;
}
#basic-nav-dropdown {
    color:grey;
}
.signInButton {
    text-align: center;
}
.bookshelf {
    height: 35rem;
    width: 64rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
