#root {
    text-align: center;
}

.homeCarousel {
    margin: auto;
    height: 30rem;
    width: 60rem;
}
img {
    height: 400px;
    width: 100px;
}
.cart {
    height: 30px;
    width:30px;
}
#basic-nav-dropdown {
    color:grey;
}
.signInButton {
    text-align: center;
}
.searchBar {
    margin: auto;
}